<!DOCTYPE html>
<html lang="en">
<head>
    <title>MiniAvito</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron text-center">
    <h1>MiniAvito online retail</h1>
    <p>Welcome to our mini store! Feel free to buy or sell anything you want!</p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Put your item up for sale</h5>
                    {% if sell_flag == 1 %}
                    <h6 class="card-subtitle mb-2 text-muted">Add some information about what you selling</h6>
                    <div>
                        <form action="{{ url_for('main.add_wait_job') }}" method="post">
                            <div class="form-group">
                                <label for="item-type">Item Type</label>
                                <select class="form-control" id="item-type" name="item-type">
                                    <option value="">--Choose a category--</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Apparel">Apparel</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Home&Garden">Home&Garden</option>
                                    <option value="Beauty">Beauty</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="item-name">Item Name</label>
                                <textarea class="form-control" id="item-name" name="item-name" rows="1" placeholder="Enter item name"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="item-price">Price</label>
                                <textarea class="form-control" id="item-price" name="item-price" rows="1" placeholder="Enter item price"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="item-description">Description</label>
                                <textarea class="form-control" id="item-description" name="item-description" rows="3" placeholder="Provide short description of your item"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="seller-email">Email address</label>
                                <input type="email" class="form-control" id="seller-email" name="seller-email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Put on sale</button>
                        </form>
                    </div>
                    {% else %}
                    <form action="add_item" method="get">
                        <td><a href="/add_item" class="btn btn-primary">Add Item</a></td>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <h3>Products</h3>
            <table class="table">
                <thead><tr>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th style="width: 30%;">Description</th>
                </tr></thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                       <td><a href="/purchase/{{ item.id }}" class="btn btn-sm btn-primary">Buy</a></td>
                       <td>{{ item.category }}</td>
                       <td>{{ item.name }}</td>
                       <td>{{ item.price }}</td>
                       <td>{{ item.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if purchase_flag == 1 %}
            {% for item in items %}
            <h4>You can contact seller of "{{ item.name }}" via email: <a href={{ item.mail_link }}>{{ item.mail }}</a></h4>
            <form action="" method="get">
                <td><a href="/" class="btn btn-primary">Back to item list</a></td>
            </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</body>